apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: spire
  labels:
    app: payments-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
    prometheus.io/path: "/actuator/prometheus"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
        metrics: "true"
    spec:
      serviceAccountName: payments-sa
      containers:
        - name: payments-service
          image: payments-service:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: /run/spire/sockets/agent.sock
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
          ports:
            - containerPort: 8080
            - containerPort: 9090
              name: metrics
      volumes:
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/sockets
            type: DirectoryOrCreate
